body {
    padding-top: 110px;
}

.bg_black {
    background-color: black;
    height: 2.3rem;
}

.img-flex {
    display: flex;  
}

.img-size {
    width: 100px;
}

    /* navbar */

.dropdown {
    position: static;
}

.dropdown [data-bs-popper] {
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
    width: 100%;
    margin-top: 0;
}

.dropdown-item.bullet::before {
    font-family: bootstrap-icons;
    content: '\F287';
    font-size: .5rem;
    margin-right: 5px;
    color: var(--bs-primary);
}

.dropdown-item img {
    display: block;
    width: 100%;
}

.dropdown-toggle.show::after {
    transition: .5s;
    transform: rotate(180deg);
} 

.dropdown-menu.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my_btn {
    color: white;
    background-color: #363636;
    padding: .5rem;
    border: none;
    border-radius: 2rem;
    display: block;
}

.bnt_container:hover {
    padding: 2px;
    box-shadow: 0 0 0 2px #363636;
    outline: none;
    border-radius: 2rem;
}

    /* main */

.bg_image_top {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    color: white;
    height: 42rem;
}

.my_btn_main {
    color: white;
    background-color: #cd3d0f;
    padding: .5rem;
    border: none;
    border-radius: 2rem;
}

.bnt_container_main:hover {
    padding: 2px;
    box-shadow: 0 0 0 2px #cd3d0f;
    outline: none;
    border-radius: 2rem;
}

.bl_card {
	overflow: hidden;
}

.overlay {
    padding: 2px;
    border: 4px solid var(--bs-primary);
    border-radius: 1rem;
    box-shadow: 0 0 0 1px var(--bs-primary);
    outline: none;
}

.img_radius {
    border-radius: 1rem;
}

.bl_card:hover {
	transform: translateY(-0.5rem);
    border: 4px solid var(--bs-primary);
    border-radius: 1rem;
    box-shadow: 0 0 0 1px var(--bs-primary);
}

.title_play {
    font-size: 2.5rem;
}

.blue_color {
    color: var(--bs-primary);
}

.grey_color {
    color: var(--bs-gray);
}

.play_card {
    overflow: hidden;
}

.playstation_5 .my_btn_main {
    background-color: var(--bs-primary);
}

.playstation_5 .bnt_container_main:hover  {
    padding: 2px;
    box-shadow: 0 0 0 2px var(--bs-primary);
    outline: none;
    border-radius: 2rem;
}

.bt_main .overlay {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid var(--bs-primary);
}

.bt_main .bl_card:hover {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid var(--bs-primary);
}